<!-- Contact BalorBay -->
<section id="contact-head-section" >
  <div class="container">
    <div class="row text-center">
      <div class="jumbotron clearfix contact-jumbotron2">
                <div class="text-center">
                      <div class="row">
                        <div class="col-lg-12 text-center">
                          <h1 class="section-heading text-uppercase">Contact Us</h1>
                          <h3 class="section-subheading">
                            Don't hesitate to get in touch with us.
                            We would love to work with you and for you.
                          </h3>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <%= form_for @contact do |f| %>
                            <div class="row">
                              <!--<div class="col-md-6"></div>-->
                              <div class="col-md-12">
                                <div class="form-group">
                                  <%= f.label :name %><br>
                                  <%= f.text_field :name, required: true, class: "form-control" %>
                                </div><br>
                                <div class="form-group">
                                    <%= f.label :email %><br>
                                    <%= f.email_field :email, required: true, class: "form-control"  %>
                                </div><br>
                                <div class="form-group">
                                  <%= f.label :message %><br>
                                  <%= f.text_area :message, as: :text, class: "form-control" %>
                                </div><br>
                                <div class="hidden">
                                  <%= f.label :nickname %><br>
                                  <%= f.text_field :nickname, hint: 'leave this field blank' %>
                                </div>
                        
                                <div id="success">
                                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        </div><!--col-lg-12-->
                      </div><!--row--> 
                </div><!---text-center -->
          </div><!-- jumbo -->
    </div><!-- row --> 
  </div><!-- container --> 
</section>
 
